@import "../../scss/base";
@import "../../scss/mixin";

main {
  background-color: rgb(250, 250, 250);
  overflow-x: hidden;

  & .cart-box {
    width: 40rem;
    height: 40rem;
    position: absolute;
    background-color: $color-white;
    box-shadow: .1rem .1rem 1rem .2rem rgba($color-black, .1);
    top: 10rem;
    right: 2rem;
    z-index: 12;
    transition: all .3s ease-in;

    @include respond(midTablet) {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100vh;
    }

  }
}

.open-cart {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  // display: block;
}

.close-cart {
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  // display: none;

}

.logout-btn {
  position: absolute;
  top: 10rem;
  right: 2rem;
  z-index: 12;
  font-size: 1.6rem;
  color: $color-black;
  background-color: $color-white;
  padding: 1rem 2rem;
  box-shadow: .1rem .1rem 1rem .2rem rgba($color-black, .1);
  transition: all .3s ease-in;
  cursor: pointer;
}