@import "../../../scss/mixin";
@import "../../../scss/base";

.btn {
  padding: 1rem 2rem;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.btn-sample-3 {
  align-self: flex-start;
  color: $color-white;
  background-color: $color-primary;
  border: none;

  &:hover {
    color: $color-primary;
    background-color: $color-white;
  }

  @include respond(miniLaptop) {
    align-self: center;
  }
}

.btn-sample-1 {
  color: $color-white;
  background-color: $color-black;
  border: 1px solid $color-black;

  &:hover {
    color: $color-black;
    background-color: transparent;
  }
}

.btn-sample-2 {
  color: $color-black;
  background-color: transparent;
  border: 1px solid $color-black;

  &:hover {
    color: $color-white;
    background-color: $color-black;
  }
}
.btn-sample-4 {
  color: $color-white;
  background-color: $color-primary;
  border: none;

  &:hover {
    color: $color-primary;
    background-color: $color-black;
  }
}

.login-btn {
  color: $color-white;
  background-color: rgba($color-black, 0.4);
  border: 1px solid $color-white;
  // border-radius: 1rem;

  &:hover {
    background-color: $color-primary;
    border: 1px solid $color-primary;
  }
}

.login-form-btn {
  width: 100%;
  margin: 2.5rem 0 0;
  background-color: $color-black;
  color: $color-white;
  border: 1px solid $color-black;
  padding: 2rem 4rem;
  font-size: 1.7rem;

  &:hover {
    background-color: $color-primary;
    border: 1px solid $color-primary;
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:active {
    background-color: #ccc;
    color: $color-white;
    border-color: #ccc;
    cursor: not-allowed;
  }
}

// back button
.back-btn {
  margin: 4rem 0;
  background-color: $color-black;
  color: $color-white;

  &:hover {
    color: $color-black;
    background-color: transparent;
  }
}

// add to cart btn
.add-to-cart-btn {
  margin-left: 2rem;
  background-color: $color-primary;
  color: $color-white;
  border: 1px solid $color-primary;
  outline: none;
  align-self: stretch;

  &:hover {
    background-color: transparent;
    color: $color-primary;
  }
}

// see product btn
.see-product-btn {
  color: $color-white;
  background-color: $color-primary;
  border: 1px solid $color-primary;

  &:hover {
    background-color: transparent;
    color: $color-primary;
  }
}
