@import "../../scss/mixin";
@import "../../scss/base";

.header-nav-active {
  color: $color-primary;
}

.header-nav-inactive {
  color: $color-white;
}
.header-nav {
  @include respond(bigTablet) {
    width: 100%;
    height: 100%;
  }

  & ul {
    display: flex;
    list-style-type: none;

    @include respond(bigTablet) {
      width: 100%;
      flex-direction: column;
      align-items: center;
      height: 100%;
    }

    & li {
      margin: 0 1rem;
      font-size: 1.6rem;
      & a {
        text-decoration: none;
        display: block;
        padding: 1rem 0;
      }
    }
  }
}

.footer-nav {
  & ul {
    display: flex;
    list-style-type: none;

    @include respond(phone) {
      flex-direction: column;
    }

    & li {
      margin: 0 1rem;
      font-size: 1.6rem;
      @include respond(phone) {
        margin: 0;
      }
      & a {
        text-decoration: none;
        display: block;
        padding: 1rem 0;
      }
    }
  }
}

.footer-nav-active {
  color: $color-primary;
}

.footer-nav-inactive {
  color: $color-white;
}

.header-nav .times-icon {
  display: none;
  @include respond(bigTablet) {
    display: block;
    width: 2.3rem;
    height: 2.3rem;
    margin: 3rem 3rem 6rem auto;
    cursor: pointer;
  }
}

.footer-nav .times-icon {
  display: none;
}
