.sample-1 {
  width: 100%;
  background: url("../../assets/home/desktop/pattern-circles.svg"), #d87d4a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6.5rem 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
  color: #fff;
  overflow: hidden;
}

@media (max-width: 46.875em) {
  .sample-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sample-1-box-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 46.875em) {
  .sample-1-box-1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.sample-1-box-2 {
  padding: 0 3rem;
}

@media (max-width: 46.875em) {
  .sample-1-box-2 {
    text-align: center;
    margin: 2rem 0;
  }
}

.sample-1-box-2 h3 {
  font-size: 5rem;
  font-weight: 700;
}

@media (max-width: 46.875em) {
  .sample-1-box-2 h3 {
    font-size: 4.5rem;
  }
}

.sample-1-box-2 p {
  font-size: 1.6rem;
  margin: 1rem 0 3.5rem;
}

.sample-1-box-img {
  width: 80%;
  margin-bottom: -10rem;
  margin-left: auto;
  margin-right: 5rem;
}

@media (max-width: 50em) {
  .sample-1-box-img {
    margin-bottom: -16rem;
  }
}

@media (max-width: 46.875em) {
  .sample-1-box-img {
    margin: 0rem;
    width: 40%;
  }
}

.sample-2 {
  background-image: url("../../assets/home/desktop/image-speaker-zx7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  margin: 5rem 0;
  padding: 0 10rem;
  height: 35rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 68.75em) {
  .sample-2 {
    background-image: url("../../assets/home/tablet/image-speaker-zx7.jpg");
    background-position: 100% 100%;
  }
}

@media (max-width: 50em) {
  .sample-2 {
    background-image: url("../../assets/home/mobile/image-speaker-zx7.jpg");
    background-position: 100% 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.sample-2 h3 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.sample-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-column-gap: 3rem;
}

@media (max-width: 18.75em) {
  .sample-3 {
    -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

.sample-3-box-1, .sample-3-box-2 {
  border-radius: 1rem;
}

.sample-3-box-1 img, .sample-3-box-2 img {
  border-radius: 1rem;
}

.sample-3-box-1 {
  background-image: url("../../assets/home/desktop/image-earphones-yx1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}

@media (max-width: 68.75em) {
  .sample-3-box-1 {
    background-image: url("../../assets/home/tablet/image-earphones-yx1.jpg");
  }
}

@media (max-width: 50em) {
  .sample-3-box-1 {
    background-image: url("../../assets/home/mobile/image-earphones-yx1.jpg");
  }
}

@media (max-width: 34.375em) {
  .sample-3-box-1 {
    height: 25rem;
    margin-bottom: 5rem;
  }
}

.sample-3-box-2 {
  background-color: #f1f1f1;
  padding: 4rem 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 50em) {
  .sample-3-box-2 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.sample-3-box-2 h3 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}
/*# sourceMappingURL=ProductSample.module.css.map */