@import "../../scss/mixin";
@import "../../scss/base";

header {
  position: relative;
  z-index: 3;
  color: $color-white;

  & .container {
    display: flex;
    align-items: center;
    width: 80%;
    padding: 2rem 0;
    border-bottom: 1px solid rgb(85, 83, 83);
    margin: 0 auto;

    @include respond(tablet) {
      width: 100%;
      padding: 2.5rem 4.5rem;
    }
    @include respond(phone) {
      padding: 2.5rem 2rem;
    }

    @include respond(tinyphone) {
      padding: 2.5rem 0.5rem;
    }
  }
}
.name {
  font-size: 1.5rem;
  margin-left: auto;
  @include respond(midphone) {
    display: none;
  }
}

.icon-div {
  @include respond(midphone) {
    margin-left: auto;
  }

  & .icon {
    height: 2.2rem;
    width: 2.2rem;
    margin-left: 1.5rem;
  }
}
.icon-menu-bar {
  height: 2.2rem;
  width: 2.2rem;
  margin-right: 2rem;
  display: none;
  cursor: pointer;

  @include respond(miniTablet) {
    display: block;
  }
}

.nav-div {
  margin: 0 auto;

  @include respond(miniTablet) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($color-black, 0.98);
    z-index: 14;
    transition: all 0.3s ease-in;
  }
}

.display-menu {
  @include respond(miniTablet) {
    transform: translateX(0%);
    opacity: 1;
  }
}

.hide-menu {
  @include respond(miniTablet) {
    transform: translateX(-100%);
    opacity: 0;
  }
}
