@import "../../scss/mixin";

.register-box {
  width: 100%;
  height: calc(100vh - 9.3rem);
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  align-items: center;

  @include respond(bigTablet) {
    padding-top: 4rem;
  }

  & h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 0 1.5rem;

    @include respond(bigTablet) {
      margin: 0 0 4rem;
    }
  }
}