// colors

$color-primary: rgb(216, 125, 74);
$color-new-product: rgb(214, 184, 172);
$color-white: #fff;
$color-black: #000000;
$color-dark: rgb(185, 177, 177);
$color-text-orange: rgb(216, 125, 74);

$font-display: "Manrope", sans-serif;
